<style>
    body {
        background-color: #121212;
        color: #ffffff;
    }
    .card {
      color: white;
      background-color: #1e1e1e;
      border: none;
      border-radius: 10px;
    }
    .card img {
        border-radius: 10px 10px 0 0;
    }
    .form-control, .form-select, .btn-dark {
      background-color: #2a2a2a;
      color: #ffffff;
      border: 1px solid #444;
    }
    .form-control::placeholder, .form-select {
      color: #b3b3b3;
    }
    .btn-dark:hover {
        background-color: #444;
      border-color: #666;
    }
    .input-group .form-control {
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .input-group .btn {
        border-radius: 0 0.5rem 0.5rem 0;
    }
    .container-fluid {
        max-width: 600px; /* Adjusted width for forms */
    }
    .pagination .page-item.active .page-link {
        background-color: #444; /* Active page background */
        border-color: #666; /* Active page border */
    }
    .pagination .page-link {
        color: #ffffff; /* Page link text color */
        background-color: #2a2a2a; /* Dark background for links */
    }
    .pagination .page-link:hover {
        background-color: #444; /* Lighter background on hover */
    }
    </style>
    <h2><%- pageTitle %></h2>
    <a href="/admin/categories/create" class="btn btn-dark btn-info">Create New Category</a>
    <table class="table table-dark">
    <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
  </thead>
  <tbody>
      <% for(let index = 0; index < categories.length; index++) { %>
          <tr>
              <td><%= categories[index]._id %></td>
              <td><%= categories[index].name %></td>
              <td><%= categories[index].description %></td>
              <td>
                  <% if(categories[index].image) { %>
                      <img src="<%= categories[index].image %>" alt="<%= categories[index].name %>" style="width: 50px; height: 50px;" />
                  <% } else { %>
                      No Image
                  <% } %>
              </td>
              <td>
                  <a href="/admin/categories/edit/<%= categories[index]._id %>" class="btn btn-warning">Edit</a>
              </td>
              <td>
                  <a href="/admin/categories/delete/<%= categories[index]._id %>" class="btn btn-danger">Delete</a>
              </td>
          </tr>
      <% } %>
  </tbody>
</table>
